.env
.env.*
!.env.example

node_modules/
**/node_modules/

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
coverage/

.expo/
.metro-health-check*
web-build/

*.tsbuildinfo
